+b.FOOTER.footer
  .container
    +e.row
      
      +b.A(href="index.html" class="logo")
        +e.P.tooltip Адвокат
        +e.P.name Людмила Тян

      +b.A(href="tel:79892766934" class="contact-phone") +7 (989) 276-69-34
      
      +b.A(href="mailto:lyudmila@tyan.info" class="contact-email") 
        +icon('mail')
        span lyudmila@tyan.info