.navigation {
    background: url("../images/bg/search.png") center no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0px 30px;
    border-radius: $block-radius;
    border-top-right-radius: 0;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;

    @include md-block() {
        border-top-right-radius: $block-radius;
        height: 5px;
        margin-bottom: 15px;

        ul {
            display: none !important;
        }
    }

    ul {
        display: flex;
    }

    a {
        color: #fff;
        display: block;
        font-size: 20px;
        padding: 20px 30px;
        font-weight: 500;
        cursor: pointer;

        &>span {
            border-bottom: 2px solid transparent;
        }

        &:hover {
            text-decoration: none;

            &>span {
                border-color: #fff;
            }
        }
    }

    li {
        &.active {
            a {
                cursor: default;
                opacity: 0.5;
                pointer-events: none;
            }
        }
    }
}