include ../bemto-master/bemto.pug

include ../utils/mixins

block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title #{title}
    meta(name="description", content=description)
    meta(property="og:image" content="assets/images/about/tyan.png")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="assets/css/app.css")
    block head

  body
    .loader
      img(src="assets/images/spinner.svg", alt="")
    main#app.wrapper
      block content

      // Modals
      include ../includes/modals/consult
      include ../includes/modals/service
    block script